<% include ../partials/head.ejs %>

  <body>
    <h1>Liste des voitures <button type="button" class="btn btn-outline-dark">Ajouter</button></h1>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">marque</th>
          <th scope="col">modele</th>
          <th scope="col">image</th>
          <th scope="col">puissance</th>
          <th scope="col">motorisation</th>
          <th scope="col">prix</th>
          <th scope="col">couleur</th>
          <th scope="col">nombre de portes</th>
          <th scope="col">nombre de places</th>
          <th scope="col">actif</th>
        </tr>
      </thead>
      <tbody>
        <% voitures.forEach(function(voiture){ %>
          <tr>
            <td scope="row"><%= voiture.marque %></td>
            <td><%= voiture.modele %> <button type="button" class="btn btn-outline-dark">Editer</button></td>           
            <td><%= voiture.image %></td>
            <td><%= voiture.puissance %></td>
            <td><%= voiture.motorisation %></td>
            <td><%= voiture.prix %></td>
            <td><%= voiture.couleur %></td>
            <td><%= voiture.portes %></td>
            <td><%= voiture.places %></td>
            <td><%= voiture.actif %></td>
          </tr>
        <% }); %>

      </tbody>
    </table>
  
    <% include ../partials/footer.ejs %>
  
  </body>