<% include ../partials/head.ejs %>
  <body class= "bg-dark">
    <div class="container mx-auto bg-light mb-5 mt-5 p-5 "> 
      <a href="/" class="btn btn-dark mt-3 " > Retour </a>
      <h1 class="text-center"><%= voiture.marque %></h1>
      <div class="container bg-light">
        <div class="row">
          <div class="card mx-auto" style="width: 50%;">
              <img src=" <%= voiture.image %>" class="img-fluid-1">
              <div class="p-5">
                <h3> DESCRIPTIF : </h3>
                <table class="table">
              
                    <tbody>
                      <tr>
                        <th scope="row"> Puissance</th>
                        <td> <%= voiture.puissance %> </td>
                      
                      </tr>
                      <tr>
                        <th scope="row"> Motorisation </th>
                        <td> <%= voiture.motorisation %> </td>
                     
                      </tr>
                      <tr>
                        <th scope="row"> Prix </th>
                        <td><%= voiture.prix %></td>
                      
                      </tr>
                      <tr>
                          <th scope="row"> Couleur </th>
                          <td><%= voiture.couleur %> </td>
                        
                        </tr>
                        <tr>
                            <th scope="row"> Portes </th>
                            <td><%= voiture.portes %> </td>
                         
                          </tr>
                          <tr>
                              <th scope="row"> Places </th>
                              <td> <%= voiture.places %></td>
                          
                            </tr>
                    </tbody>
                  </table>
          </div>
        </div>
</div>
      </div>
     
    </div>
    


<% include ../partials/footer.ejs %>
